h2{
    font-size:30px;
    text-align:center;
    text-shadow:2px 2px 2px lightsalmon;
}
p{
    font-size:20px;
    padding:18px 15px;
    font-style:oblique;
    word-spacing: 5px;
    line-height: 1.5; 
    }